.navbar-right {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navbar-right a {
  color: #000000;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.5s ease;
}
.navbar-right a:hover {
  color: #cda652;
}
@media (max-width: 991px) {
  .navbar-right {
    margin-top: 10px;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
  }
}
